<div>


    <!-- <app-side-bar-toggle [sideBar]="sideBar"></app-side-bar-toggle>
    <app-side-bar #sideBar></app-side-bar> -->

    <app-side-bar-toggle></app-side-bar-toggle>
    <app-side-bar></app-side-bar>



    <h1 changeBgColor defaultColor='yellow'>{{title}}</h1>
    <button (click)="showLogo($event)">ShowLogo</button>
    <button (click)="hideLogo($event)">HideLogo</button>
    <ng-container *ngTemplateOutlet="companyLogo"></ng-container>
    <br />
    Login Time : {{toDate | date : 'medium' | uppercase}}
    <!-- <p>medium : {{toDate | date:'medium'}} </p>
                  <p>short : {{toDate | date:'short'}} </p>
                  <p>fullDate : {{toDate | date:'fullDate'}} </p>
                  <p>longDate : {{toDate | date:'longDate'}} </p>
                  <p>mediumDate : {{toDate | date:'mediumDate'}} </p>
                  <p>shortDate : {{toDate | date:'shortDate'}} </p>
                  <p>mediumTime : {{toDate | date:'mediumTime'}} </p>
                  <p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
                  <p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p> -->
    <br />

    <p>Temprature In Farh : {{100 | tempConv:'F': ' to F '}}</p>
    <p>Temprature In Cel : {{100 | tempConv:'C': ' to C '}}</p>
    <hr />
    <hr />



    <app-department-container (addStudentEvent)="addStudentEvent($event)">
        <!-- <ng-container *ngTemplateOutlet="companyLogo"></ng-container> -->
    </app-department-container>

    <hr />

    <!-- <app-student-container [students]="students" [count]="count">
        <ng-container *ngTemplateOutlet="companyLogo"></ng-container>
        <h2>Title: This Is Student List Container</h2>
        <h3>Sub-Title: Only Students</h3>
    </app-student-container> -->

    <app-student-container [students]="students" [count]="count" (deleteStudentEmitter)="deleteStudent($event)">
        <h1 #heading>Heading Ref</h1>
    </app-student-container>
</div>


<ng-template #companyLogo>
    <div *showLogo="isShowLogo">
        <h1>ABCD Company</h1>
        <h2>Copyrights </h2>
    </div>
</ng-template>