<h3><span style="color: #000000">Department Name Is : </span>{{deptName}}</h3>

<ng-content></ng-content>

<div *ngIf="showErrorMessage" class="error-message">
    <p>Can't add empty student details</p>
</div>


<!-- <div>
    <input [(ngModel)]="stdName" />
    <input [(ngModel)]="stdCourse" />
    <input [(ngModel)]="stdFees" />
    <button (click)="addStudentDetails($event)">Add</button>
</div> -->

<div>

    <h3>Student Form</h3>

    <form #studentForm="ngForm" (ngSubmit)="onSubmit(studentForm)" novalidate>
         
            <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" class="form-control" name="stdName" [ngModel]="currentStudent.name" minlength="5"
                maxlength="10" required>
                </div>
         <div *ngIf="!studentForm.controls.stdName?.valid && (studentForm.controls.stdName?.dirty || studentForm.controls.stdName?.touched)"
            style="color: red;">
               <div [hidden]="!studentForm.controls.stdName.errors.required">
                Name is required
                   </div>
        </div>
            <div class="form-group">
                    <label for="course">Course</label>
                    <input type="text" class="form-control" name="stdCourse" [ngModel]="currentStudent.course">
                </div>

         <div class="form-group">
                    <label for="fees">Fees</label>
                    <input type="text" class="form-control" name="stdFees" [ngModel]="currentStudent.fees">
                </div>

            <div class="form-group">
                     <button type="submit" [disabled]="!studentForm.valid">Submit</button>
                </div>
         
    </form>


</div>
<!-- <p>Name Is: {{stdName.value}}</p> -->

<app-department></app-department>