<h3><span style="color: #000000">Department Name Is : </span>{{deptName}}</h3>

<ng-content></ng-content>

<div *ngIf="showErrorMessage" class="error-message">
    <p>Can't add empty student details</p>
</div>


<!-- <div>
    <input [(ngModel)]="stdName" />
    <input [(ngModel)]="stdCourse" />
    <input [(ngModel)]="stdFees" />
    <button (click)="addStudentDetails($event)">Add</button>
</div> -->

<div>

    <h3>Student Form</h3>

    Name: <input type="text" [formControl]="stdName" />

</div>
<p>Name Is: {{stdName.value}}</p>

<app-department></app-department>